.vs/
OpenGL-project/.vs/

OpenGL-project/OpenGL-project/Debug/vc143.pdb
OpenGL-project/OpenGL-project/Debug/vc143.idb
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/OpenGL-project.lastbuildstate
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/link.write.1.tlog
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/link.read.1.tlog
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/link.command.1.tlog
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/CL.write.1.tlog
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/CL.read.1.tlog
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/Cl.items.tlog
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/CL.command.1.tlog
OpenGL-project/OpenGL-project/Debug/OpenGL-project.log
OpenGL-project/OpenGL-project/Debug/OpenGL-project.ilk
OpenGL-project/OpenGL-project/Debug/OpenGL-project.exe.recipe
OpenGL-project/OpenGL-project/Debug/linux.obj
OpenGL-project/Debug/OpenGL-project.pdb
OpenGL-project/Debug/OpenGL-project.exe

