
OpenGL-project/.vs/OpenGL-project/FileContentIndex/2c51db61-b4ee-4806-9a7a-b85b4f6775f2.vsidx
OpenGL-project/.vs/OpenGL-project/FileContentIndex/821bfaa1-12f7-43b4-af6c-ed7656b18448.vsidx
OpenGL-project/.vs/OpenGL-project/FileContentIndex/a16fca9b-fa46-451c-a668-99ae8b4537ef.vsidx
OpenGL-project/.vs/OpenGL-project/FileContentIndex/bb555499-9051-4fb6-b2e0-7d1afae700ac.vsidx
OpenGL-project/.vs/OpenGL-project/FileContentIndex/e3ac06f5-dbcb-4a74-92f1-208084e2c5e4.vsidx
OpenGL-project/.vs/OpenGL-project/v17/Browse.VC.db
OpenGL-project/.vs/OpenGL-project/v17/Browse.VC.db-shm
OpenGL-project/.vs/OpenGL-project/v17/Browse.VC.db-wal
OpenGL-project/.vs/OpenGL-project/v17/Browse.VC.opendb
OpenGL-project/.vs/OpenGL-project/v17/ipch/AutoPCH/fb4c4ef38a1be66f/LINUX.ipch
OpenGL-project/OpenGL-project/Debug/vc143.pdb
OpenGL-project/OpenGL-project/Debug/vc143.idb
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/OpenGL-project.lastbuildstate
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/link.write.1.tlog
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/link.read.1.tlog
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/link.command.1.tlog
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/CL.write.1.tlog
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/CL.read.1.tlog
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/Cl.items.tlog
OpenGL-project/OpenGL-project/Debug/OpenGL-project.tlog/CL.command.1.tlog
OpenGL-project/OpenGL-project/Debug/OpenGL-project.log
OpenGL-project/OpenGL-project/Debug/OpenGL-project.ilk
OpenGL-project/OpenGL-project/Debug/OpenGL-project.exe.recipe
OpenGL-project/OpenGL-project/Debug/linux.obj
OpenGL-project/Debug/OpenGL-project.pdb
OpenGL-project/Debug/OpenGL-project.exe
OpenGL-project/.vs/OpenGL-project/v17/Browse.VC.db
OpenGL-project/.vs/OpenGL-project/v17/.suo
OpenGL-project/.vs/OpenGL-project/FileContentIndex/77281b91-6eee-484e-91ee-2cfa74d71d14.vsidx
OpenGL-project/.vs/OpenGL-project/FileContentIndex/39b1d3cc-be9a-4d88-af5b-0ac3bc32291d.vsidx
*.vsidx
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/EmbeddedSystem/v17/ipch/AutoPCH/db4f4087d344ab7c/LINUX.ipch
.vs/EmbeddedSystem/v17/ipch/AutoPCH/8b4468da7eb43de5/KMS.ipch
.vs/EmbeddedSystem/v17/Browse.VC.opendb
.vs/EmbeddedSystem/v17/Browse.VC.db-wal
.vs/EmbeddedSystem/v17/Browse.VC.db-shm
.vs/EmbeddedSystem/v17/Browse.VC.db
.vs/EmbeddedSystem/v17/.wsuo
